asgiref
certifi
charset-normalizer
dj-database-url
django
django-crispy-forms
gunicorn
idna
krb5
packaging
pip
psycopg2
pydantic
pyparsing
readline
replicate
requests
setuptools
sqlparse
tk
typing-extensions
tzdata
urllib3
wheel
whitenoise
