asgiref
certifi
charset-normalizer
dj-database-url
django
django-crispy-forms
gunicorn
idna
krb5
libedit
libffi
libgcc-ng
libgomp
libpq
libstdcxx-ng
libuuid
ncurses
openssl
packaging
pip
psycopg2
pydantic
pyparsing
python
readline
replicate
requests
setuptools
sqlite
sqlparse
tk
typing-extensions
tzdata
urllib3
wheel
xz
zlib
