{% extends 'base.html' %}
{% block title %} Cambiar Contraseña {% endblock %}
{% block content %}


    <div class="container"
         style="font-family: 'Hack';
         text-align: center;"
    >
        <h1 style="text-decoration: underline;"> Cambiar contraseña </h1>
        <br><br>
        <p>
            <small> Tu usuario: </small>
            <strong style="color: #098009;"> {{ request.user.username }} </strong>
        </p>
        <hr>

        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button class="btn btn-warning">
                    Guardar cambios
                </button>
                <a class="btn btn-outline-success" href="{% url 'profile' username=request.user.username %}"> Regresar </a>
            </form>
        </div>
        <br><br>
        {% if form.errors %}
            <div class="alert alert-dismissable"> No se pudo cambiar tu contraseña </div>
        {% endif %}
        <hr>
    </div>











{% endblock %}