{% extends 'base.html' %}

{% block content %}

{% load static %}


<div class="homeinfo">

    {% if user.is_authenticated %}
        <p style="display: inline; margin-right: 10%"> Usuario: {{ request.user.username }}</p>
        <small>
            <a  href="{% url 'profile' username=request.user.username %}" style="padding-left: -20%; margin-right: 1cm;">
                perfil
            </a>
            <a  href="{% url 'logout' %}" style="padding-left: -20%;">
                cerrar sesión
            </a>
        </small>
        <hr>
    {% else %}

        <ul class="navBar">
            <li class="navElem" ><a  href="/register"> Registrarse </a></li>
            <li class="navElem" ><a  href="/login"> Iniciar sesión </a></li>
        </ul>

    {% endif %}

    {% if request.session.recien_registrado %}
    <p> Bienvenido. </p>
    {% endif %}

<p> Magicbook: Projecto Django usando Stable-Diffusion </p>

<br/>
<hr>


<section class="fondo1" style="padding-right: 10%;">

    <img src={% static 'magicbook/architeuthis.png' %}
         width="50%" height="50%">
    <br/>
</section>
<br>
<section style="padding-left: 10%;">
    <img src={% static 'magicbook/city-dust.png' %}
        width="50%" height="50%">
</section>





</div>


{% endblock %}




{% comment %}

{% for x in cars %}
    <p> {{ x.model }} </p>
    <h1> {{ x.brand }} </h1>
    <p> {{ x.year }} </p>
{% endfor %}


{% cycle 'lightblue' 'pink' 'yellow' 'coral' 'grey' as bgcolor silent %}
    <li style='background-color:{{ bgcolor }}'>



<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Left</button>
  <button type="button" class="btn btn-secondary">Middle</button>
  <button type="button" class="btn btn-secondary">Right</button>
</div>


Forms pro control:
{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}

{% endcomment %}