{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <div class="container">
        <i class="bi bi-person-circle"></i>
        &nbsp; user:
        <h4 style="margin-left: 2%;">
        {{ user.username }}
        </h4>

        email:
        <h5 style="margin-left: 2%;">
        {{ user.email }}
        </h5>

        {% if user_apikeys %}
            <i class="bi bi-key"></i>
            <strong> &nbsp; Tus API Keys &nbsp;&nbsp; </strong>

            <div class="activatediv btn btn-outline-info" tabindex="1">Ver tus keys</div>
            <div class="hiddendiv">
                <pre> {{ user_apikeys | pprint }}</pre>
            </div>

        {% endif %}
    </div>


    <Form method="post" style="text-align: right">
        <br>
        {% csrf_token %}
        <div class="float-left">
            {% if form_apis %}
                <br>
                <hr>
                {{ form_apis.as_p }}
            {% endif %}
        <input
            class="btn btn-sm btn-outline-warning" type="submit"
            value="Configurar API Keys" name="save_apis"
        >
        <input
            class="btn btn-sm btn-outline-danger" type="submit"
            value="Eliminar keys" name="delete_apis"
        >

        </div>

    </Form>

    <a  class="btn btn-sm btn-outline-secondary"
        href="{{ HTTP_HOST }}/" style="float: right;">
        Regresar
    </a>

    <br>
    <hr>

    <form method="post">
        {% csrf_token %}
        {{ form_prompt }}
        <input type="submit" value="Generar"
               name="save_prompt"
               class="btn btn-sm btn-success"
        >
    </form>


    {% if img_generada %}
        <div style="justify-content: center">
            <img src="{{ img_generada }}"/>
        </div>
    {% endif %}



</div>

{% endblock %}