{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">

    <div class="container">
        <i class="bi bi-person-circle"></i>
        &nbsp; user:
        <h4 style="margin-left: 4%;">
        {{ user.username }}
        </h4>

        <i class="bi bi-fingerprint"></i>
        &nbsp; email:
        <h5 style="margin-left: 4%;">
        {{ user.email }}
        </h5>

        {% if user_apikeys %}

            <input type="checkbox" class="activatediv" style="float: right;"/>
            <label for="activatediv" class="form-check-label" style="float: right;"> Ver tus keys &nbsp;</label>
            <div class="hiddendiv"><br>
            <i class="bi bi-key"></i> <strong> &nbsp; Tus API Keys &nbsp;&nbsp; </strong>
                {% for k,val in user_apikeys.items %}
                    <pre tabindex="0"> {{ k | pprint }}: {{ val | pprint }},</pre>
                {% endfor %}
            </div>

        {% endif %}
    </div>


    <Form method="post" style="text-align: right">
        <br><br>
        {% csrf_token %}
        <div class="float-left">
            {% if form_apis %}
                <br>
                <hr>
                {{ form_apis.as_p }}
            {% endif %}
        <input
            class="btn btn-sm btn-outline-warning" type="submit"
            value="Configurar API Keys" name="save_apis"
        >
        <input
            class="btn btn-sm btn-outline-danger" type="submit"
            value="Eliminar keys" name="delete_apis"
        >

        </div>

    </Form>
    <br>

    <a  class="btn btn-sm btn-outline-dark"
        href="{{ HTTP_HOST }}/cambiarContrasena" style="float: right;">
        Cambiar Contraseña
    </a>
    <br><br>
    <a  class="btn btn-sm btn-outline-secondary"
        href="{{ HTTP_HOST }}/" style="float: right;">
        Regresar
    </a>

    <br><hr><br>

    <form method="post" style="text-align: center;">
        {% csrf_token %}
        {{ form_dream.as_p }}
        <br>
        <button type="submit" name="crear_dream" class="btn btn-lg btn-outline-success">
            <i class="bi bi-activity"></i> Nuevo Dream
        </button>
    </form>


    <br><hr><br>
    <p style="text-align: center;"> Una buena descripción incluye detalles. No olvides darle estilos.</p>
    <div class="typewriter" style="width: fit-content;">
        A spaceship firing energy cannons at a menacing monster, john berkey, digital art.
    </div>

    <br><hr>

    {% if img_generada %}
        <div style="text-align: center">
            <img src="{{ img_generada }}"/>
        </div>
    {% endif %}
    <br>

    <form method="post" style="text-align: center;">
        {% csrf_token %}

        {{ form_prompt.as_ul }}
        <br>

        <button type="submit" name="save_prompt" class="btn btn-lg btn-success">
            <i class="bi bi-balloon"></i> Generar
        </button>

    </form>


    <!-- <input type="checkbox" id="promptEjemplo" onclick="usarEjemplo()"/>
    <label for="promptEjemplo">  &nbsp;Usar ejemplo</label> -->
    <hr>
    <br>

</div>

{% endblock %}