{% extends 'base.html' %}
{% block title %} Reestablecer Contraseña {% endblock %}
{% block content %}


    <div class="container"
         style="font-family: 'Hack';
         text-align: center;"
    >
        <h1 style="text-decoration: underline;"> Reestablecer contraseña </h1>
        <br><br>
        <div class="text-center" style="width: 80%; margin: 0 auto">
          <p>
            Forgot your password? Please enter the email address you used to register
            with us and we will send you a link to reset your password.
          </p>
        </div>
        <hr><br>

        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button class="btn btn-warning">
                    Reestablecer contraseña
                </button>
                <a class="btn btn-outline-success" href="{% url 'home' %}"> Regresar </a>
            </form>
        </div>
        <br><br>
        {% if form.errors %}
            <div class="alert alert-dismissable"> No se pudo cambiar tu contraseña. </div>
        {% endif %}
        <hr>
    </div>











{% endblock %}